/* nav{
    background-image: url(../images/1.png)
} */

.hero{
    background-image: url(../images/1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;

}